{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>

{{ section.content | safe }}

<ul>
    <li><a id="vaxandi_forritari" href="{{ get_url(path='@/projects/vaxandi_forritari/_index.md') }}">vaxandi forritari</a></li>
    <li><a id="aspiring_graphics_programmer" href="{{ get_url(path='@/projects/aspiring_graphics_programmer/_index.md') }}">aspiring graphics programmer</a></li>
    <li><a id="amateur_linguist" href="{{ get_url(path='@/projects/amateur_linguist/_index.md') }}">amateur linguist</a></li>
    <li><a id="wannabe_game_developer" href="{{ get_url(path='@/projects/wannabe_game_developer/_index.md') }}">wannabe game developer</a></li>
    <li><a id="junior_animator" href="{{ get_url(path='@/projects/junior_animator/_index.md') }}">junior animator</a></li>
    <li><a id="music_enjoyer" href="{{ get_url(path='@/projects/music_enjoyer/_index.md') }}">music enjoyer</a></li>

</ul>

<ul>
    {% for page in section.pages %}
    <li><a id="blog_colour" href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>

{% endblock content %}
