body {
    background-color: black;
    font-family: 'Roboto Mono';
}

#construction {
    position: absolute;
    color: whitesmoke;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

a:link,
a:visited,
a:hover,
a:active {
    color: rgb(150, 47, 254);
    background-color: transparent;
    text-decoration: none;
}

h1 {
    color: rgb(150, 47, 254);
}

p {
    color: white;
}

center {
    color: rgb(150, 47, 254);
}
