// This is inspired by the husqy theme on monkeytype.com (https://github.com/monkeytypegame/monkeytype/blob/master/frontend/static/themes/husqy.css). 

// Colours.
$white: #FFFFFF;
$black: #000000;
$purple: #962FFE;
$pink: #FFA0E3;
$periwinkle: #EBD7FF;
$yoghurt: #d1e6ff;
$red: #FF3030;
$orange: #FF7930;
$yellow: #FFF530;
$green: #45FF30;
$cyan: #30FFEA;
$blue: #30A9FF;

// Properties.  
$background: $black;
$blockquote: $pink;
$code: $pink;
$text: $periwinkle;
$links: $purple;
$dates: $purple;

// Headings. 
$h1: $purple;
$h2: $blue;
$h3: $green;
$h4: $yellow;
$h5: $orange;
$h6: $red;

