// This is inspired by the husqy theme on monkeytype.com (https://github.com/monkeytypegame/monkeytype/blob/master/frontend/static/themes/husqy.css). 

$background: #000000;
$white: #FFFFFF;
$purple: #962FFE;
$pink: #FFA0E3;
$text: #EBD7FF;
