// This is inspired by the husqy theme on monkeytype.com (https://github.com/monkeytypegame/monkeytype/blob/master/frontend/static/themes/husqy.css). 

// Colours.
$white: #FFFFFF;
$black: #000000;
$purple: #962FFE;
$voilet: #1e001e;
$pink: #FFA0E3;
$periwinkle: #EBD7FF;
$yoghurt: #d1e6ff;

// Properties? I'm unsure what to call this. 
$background: $black;
$blockquote: $pink;
$text: $periwinkle;
$links: $purple;
