<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ config.extra.site_name }}</title>

    <link rel="stylesheet" href="/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>

    <script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.174.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174.0/examples/jsm/"
            }
    }
    </script>

    <script type="module" src="/main.js"></script>
    <script type="module" src="/window.js"></script>
</head>

<nav>
    <a href="{{ get_url(path='@/_index.md') }}">Home</a>
    <span id="text"> | </span><a href="{{ get_url(path='@/blog/_index.md') }}"><strike>Rants</strike> Posts</a>
    <span id="text"> | </span><a href="{{ get_url(path='@/projects/_index.md') }}">My Stuff</a>
    <span id="text"> | </span><a href="{{ get_url(path='@/stuff_I_like/_index.md') }}">Stuff I Like</a>
    <hr>
</nav>

<body>
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>

<footer id="footer">
    <center>
        <a href="https://evilr.ing/cjsatnarine/previous">&lt;</a>
        <a href="https://evilr.ing">EVILRING</a>
        <a href="https://evilr.ing/cjsatnarine/next">&gt;</a>
        <p> Made with <a href="https://www.getzola.org/">Zola</a></p>
    </center>
</footer>

</html>
